* {
    margin: 0 auto;
}

.navBar {
    background-color: #FFC017;
    display: flex;
    justify-content: space-between;
    align-content: center;
}


.navList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;

}


.blackButton {
    border: 2px solid black;
}

.divImg {
    width: 50%;
    margin-left: 100px;
    padding: 15px;
}
.divUl {
    width: 50%;
    padding: 15px;
}